<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Data Details</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Birthdate</th>
      <th>Hobbies</th>
      <th>Address</th>
      <th>Zip</th>
      <th>Civil Status</th>
    </tr>
    <tr>
      <td><%= data.id %></td>
      <td><%= data.firstName %></td>
      <td><%= data.lastName %></td>
      <td><%= data.gender %></td>
      <td><%= data.birthdate %></td>
      <td><%= data.hobbies %></td>
      <td><%= data.address %></td>
      <td><%= data.zip %></td>
      <td><%= data.civilStatus %></td>
    </tr>
  </table>
</body>
</html>
