<!DOCTYPE html>
<html>
    <head>
        <title>Illumiel</title>

        <style>
            body {
                margin: 0;
                margin-top: 50px;
                font-family: sans-serif;
            }

            header {
                display: flex;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                height: 50px;
                line-height: 50px;
                width: 100%;
                background-color: #000000;
                z-index: 100; /* Set a higher value */
            }

            header * {
                display: inline;
                height: 50px;
            }

            header ul {
                padding: 0;
            }

            header li {
                margin-left: 20px;
            }

            section {
                height: 100vh;
                border: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                
                background-size: cover; /* Add this line */
                background-position: center center; /* Add this line */
                background-repeat: no-repeat; /* Add this line */
                background-attachment: fixed; /* Add this line */
            }

            #hero .profile-img {
                width: 350px;
                border-radius: 35%;
            }

            footer {
                text-align: center;
                padding: 20px;
                background-color: #000000;
            }

            footer h4{
                text-align: center;
                color: rgb(255, 255, 255);
            }

            #hero h1 {
                font-size: 3em;
            }

            section h2 {
                font-size: 2.5em;
                color: rgb(255, 255, 255);
            }

            section p {
                color: rgb(255, 255, 255);
            }

            section h3 {
                font-size: 1.5em;
                color: rgb(255, 255, 255);
            }

            header a {
                text-decoration: none;
                color: rgb(255, 255, 255);
            }

            /* Add everything below here */

            h1 {
                text-outline: 2px solid #000;
                text-shadow: 1px 1px 2px #000;
            }

            #hero {
                font-style: italic;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: rgb(255, 247, 237);
                background-image: url('https://www.tastingtable.com/img/gallery/20-different-types-of-coffee-explained/l-intro-1659544996.jpg');
            }

            #Form {
                background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url('https://www.allrecipes.com/thmb/gk1cHP21-syS3M_dz1cr6DWxhfE=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1165807395-2000-28ea3eaf72f34ddaa97d9a54ca0c6025.jpg');
            }

            #gameplay {
                background-image: url('https://www.health.com/thmb/FXuIRYC5THBEHB0ICA6ySTDje8o=/2000x0/filters:no_upscale():max_bytes(150000):strip_icc()/cooffees-nathan-dumlao-6VhPY27jdps-unsplash-2000-7ab18521a3964bbba4a0832e8aa4014f.jpg');
            }

            #Table {
                background-color: rgb(255, 247, 237);
            }

            form {
			max-width: 500px;
			margin: 0 auto;
			font-size: 18px;
            }

            input[type=text], select, input[type=date], input[type=email], textarea {
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                margin-top: 6px;
                margin-bottom: 16px;
                resize: vertical;
                font-size: 18px;
            }

            input[type=submit] {
                background-color: #f5ab58;
                color: white;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 18px;
            }

            input[type=submit]:hover {
                background-color: #ffdf76;
            }

            .container {
                border-radius: 5px;
                background-color: rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(5px);
                padding: 20px;
            }

            .error {
                color: red;
            }

            #gameplay {
            padding: 125px 0 105px;
            }

            #gameplay .flex {
            position: relative;
            }

            #gameplay .badge.new.content {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            }

            #gameplay .badge.new.hero {
            top: -32px;
            left: 15px;
            }

            #gameplay .box {
            background-color: rgb(0, 0, 0);
            padding: 60px 20px 40px;
            flex-basis: 45%;
            position: relative;
            }

            #gameplay .box .newhero-content {
            height: auto;
            width: auto;
            }

            #gameplay .box .newhero-content h3 {
            color: rgb(255, 255, 255);
            margin-top: 0;
            }

            #gameplay .box .newhero-content label {
            color: rgb(255, 255, 255);
            font-size: 0.75em;
            }

            #gameplay .box .newartifact-content {
            float: left;
            margin-left: 130px;
            width: 60%;
            }

            #gameplay .box .newartifact-content h3 {
            color: rgb(255, 255, 255);
            margin-top: 0;
            }

            #gameplay .box .newartifact-content label {
            color: rgb(255, 255, 255);
            font-size: 0.75em;
            }

            * {
            font-family: 'helvetica', 'sans-serif';
            margin: 0;
            }

            /* start: global style rules */
            h1, h2, h3, h4, h5 {
            line-height: 1.5;
            font-weight: 300;
            margin: 0.5em 0;
            }

            h1 {
            font-size: 2.5em;
            }

            h2 {
            font-size: 2em;
            }

            h3 {
            font-size: 1.6em;
            }

            h4 {
            font-size: 1.4em;
            }

            h5 {
            font-size: 1.7em;
            }

            a {
            text-decoration: none;
            }

            p {
            line-height: 2;
            font-size: 0.85em;
            font-weight: 100;
            }

            .flex {
            display: flex;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 15px;
            justify-content: space-between;
            }

            .badge {
            padding: 9px 20px;
            color: black;
            display: inline-block;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
            font-size: 0.75em;
            }

            .badge.teamwork {
            background-color: orange;
            }

            .badge.aid {
            background-color: orange;
            }

            .badge.tips {
            background-color: orange;
            }

            .badge.buff {
            background-color: orange;
            }

            .badge.new {
            background-color: orange;
            }

            .badge.new.hero {
            background-color: orange;
            }

            .badge.new.artifact {
            background-color: orange;
            }

            #form {
                background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url('https://coffeebusiness.com/wp-content/uploads/2019/08/14tenents-pt2.jpg');
            }

            form {
			max-width: 700px;
			margin: 0 auto;
			font-size: 18px;
            }

            input[type=text], select, input[type=date], input[type=email], textarea {
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                margin-top: 6px;
                margin-bottom: 16px;
                resize: vertical;
                font-size: 18px;
            }

            input[type=submit] {
                background-color: #f5ab58;
                color: white;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 18px;
            }

            input[type=submit]:hover {
                background-color: #ffdf76;
            }

            .container {
                margin-left: -16%;
                width: 130%;
                border-radius: 5px;
                background-color: rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(5px);
                padding: 20px;
                column-count: 3;
                column-gap: 20px;
            }

            .error {
                color: red;
            }

        </style>

        
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .btn {
        padding: 6px;
        border: none;
        background: none;
        cursor: pointer;
    }

    .btn i {
        margin-right: 4px;
    }

    .view-btn {
        color: green;
    }

    .delete-btn {
        color: red;
    }

    .edit-btn {
        color: blue;
    }
</style>


    </head>

    <body>
        <header>
           
            <nav>
                <ul>
                  <div class="action-link-wrap">
                    <li><a href="#Table">Table</a></li>
                    <li><a href="#Form">Form</a></li>
                    <li><a href="/logout">Logout</a></li>

                  </div>
                </ul>
            </nav>
        </header>
        <main>
            <section id="Table">
                <div class="container1">
                    <% if (datas.length > 0) { %>
                        <table>
                          <thead>
                            <tr>
                              <th>Id</th>
                              <th>Last Name</th>
                              <th>First Name</th>
                              <th>Middle Name</th>
                              <th>Gender</th>
                              <th>Birthdate</th>
                              <th>Hobbies</th>
                              <th>Address</th>
                              <th>Zip</th>
                              <th>Civil Status home</th>
                              <th>Acttion</th>
                            </tr>
                          </thead>
                          <tbody>
                          <% datas.forEach(function(data) { %>
                            <tr>
                           
                              <td><%= data.id %></td>
                              <td><%= data.lastName %></td>
                              <td><%= data.firstName %></td>
                              <td><%= data.middleName %></td>
                              <td><%= data.gender %></td>
                              <td><%= data.birthdate %></td>
                              <td><%= data.hobbies %></td>
                              <td><%= data.address %></td>
                              <td><%= data.zip %></td>
                              <td><%= data.civilStatus %></td>
                            
                                <td>
                                  <a class="btn view-btn" href="/select/<%= data.id %>"><i class="fas fa-eye"></i> View</a>

                                  <a class="btn delete-btn" href="/edit/<%= data.id %>"><i class="fas fa-edit"></i> Edit</a>
                                  <form action="/delete<%= data.id %>" method="POST">
                                    <button class="btn edit-btn" type="submit"><i class="fas fa-trash"></i> Delete</button>
                                  </form>
                                </td>
                           <!--  -->
                            </tr>
                          <% }); %>
                          </tbody>
                        </table>
                      <% } else { %>
                        <p>No data found.</p>
                      <% } %>
            
                </tbody>
              </table>
                </div>
                   
            </section>

            <section id="Form">
        
                    <form id="registration-form" action="/home" method="POST">
                        <div class="container">

                            <h1>Registration Form</h1>

                            <label for="last_name">Last Name:</label>
                            <input type="text" id="last_name" name="lastName" required>
                
                            <label for="first_name">First Name:</label>
                            <input type="text" id="first_name" name="firstName" required>
                
                            <label for="middle_name">Middle Name:</label>
                            <input type="text" id="middle_name" name="middleName" required>
                
                            <label for="home_address">Home Address:</label>
                            <input type="text" id="home_address" name="address" required>
                
                            <label for="zip_code">Zip Code:</label>
                            <input type="text" id="zip-code" name="zip" pattern="\d+" required minlength="" maxlength="4">
                
                            <label for="gender">Gender:</label>
                            <select id="gender" name="gender" required>
                                <option value="">Select Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                
                            <label for="birthdate">Birthdate:</label>
                            <input type="date" id="birthdate" name="birthdate" required>
                
                            <label class="checkbox">
                                <input type="checkbox" id="hobby" name="hobbies" value="basketball">
                                Basketball
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" id="hobby" name="hobbies" value="volleyball">
                                Volleyball
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" id="hobby" name="hobbies" value="football">
                                Football
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" id="hobby" name="hobbies" value="drawing">
                                Drawing
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" id="hobby" name="hobbies" value="singing">
                                Singing
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" id="hobby" name="hobbies" value="billiard">
                                Billiard
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" id="hobby" name="hobbies" value="dancing">
                                Dancing
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" id="hobby" name="hobbies" value="reading">
                                Reading
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" id="hobby" name="hobbies" value="computer gaming">
                                Computer Gaming
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" id="hobby" name="hobbies" value="writing">
                                Writing
                            </label>
                            <br><br>
                            <label for="hobby">Others:</label>
                                <input type="text" id="hobby" name="hobbies">
                                Writing
                            </label>
                
                            <label for="civil_status">Civil Status:</label>
                            <select id="civil_status" name="civilStatus" required>
                                <option value="">Select Civil Status</option>
                                <option value="single">Single</option>
                                <option value="married">Married</option>
                                <option value="divorced">Divorced</option>
                                <option value="widowed">Widowed</option>
                            </select>
                
                        <button type="submit" >Submit</button>
                    </div>
                </form>
                
            </section>

            <section id="gameplay">
                
                <div class="flex">
                    <span class="badge new content">Photography</span>
                    <div class="box">
                        <span class="badge new hero">Lots of option</span>
                        <div class="newhero-image">
                            <img src="https://www.barniescoffee.com/cdn/shop/articles/bar-1869656_1920_480x540_crop_center.jpg?v=1660683986"/>
                        </div>
                        
                        <div class="newhero-content">
                            <h3>Coffee Menu</h3>
                            <div><label>Our coffee shop menu offers a diverse selection of expertly brewed coffees, from classic favorites to specialty creations. Accompanied by a tempting array of pastries and snacks, our menu guarantees a memorable and satisfying experience for all coffee enthusiasts.</label></div>
                        </div>
                    </div>
    
                    <div class="box">
                        <span class="badge new artifact">Great Environment</span>
                        <div class="newheroartifact-image">
                            <img src="https://i.pinimg.com/originals/0f/c7/e9/0fc7e9f063ce3f3da1cd2fa4c3b0e721.png"/>
                        </div>
    
                        <div class="newartifact-content">
                            <h3>Work and study zone</h3>
                            <div><label>Discover a coffee shop designed for work and study. Enjoy exceptional coffee, comfortable seating, and free Wi-Fi in a productive environment. Fuel your focus and productivity with our delicious beverages. Find the perfect balance of ambiance and functionality in our dedicated work and study zone.</label></div>
                        </div>
                    </div>
                </div>

            </section>

        </main>
        <footer>
        </footer>
    </body>
</html>
